{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--Page Banner Section start-->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-banner-title">About us</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Section end-->

    <!--Welcome Sabbirdk- Real Estateprofessional Templatesection-->
    <div class="feature-section feature-section-border-top section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-60 pb-lg-40 pb-md-30 pb-sm-20 pb-xs-10">
        <div class="container">
            <div class="row row-25 align-items-center">
               
                <!--Feature Image start-->
                {% for about in about %}
                <div class="col-lg-5 col-12 order-1 order-lg-2 mb-40">
                    <div class="feature-image"><img src="{{about.photo.url}}" alt=""></div>
                </div>
                <!--Feature Image end-->
                 
                <div class="col-lg-7 col-12 order-2 order-lg-1 mb-40">
                    
                    <div class="row">
                        <div class="col">
                            <div class="about-content">
                                <h3>Welcome to <span>sabbirdk</span></h3>
                                <h1>We Always Provide Priority to Our Customer</h1>
                                <p>{{about.description|safe}}</p>
                                
                                <ul class="feature-list">
                                    <li>
                                        <i class="pe-7s-piggy"></i>
                                        <h4>Low Cost</h4>
                                    </li>
                                    <li>
                                        <i class="pe-7s-science"></i>
                                        <h4>Modern Design</h4>
                                    </li>
                                    <li>
                                        <i class="pe-7s-display1"></i>
                                        <h4>Good Marketing</h4>
                                    </li>
                                    <li>
                                        <i class="pe-7s-signal"></i>
                                        <h4>Free Wifi</h4>
                                    </li>
                                    <li>
                                        <i class="pe-7s-map"></i>
                                        <h4>Easy to Find</h4>
                                    </li>
                                    <li>
                                        <i class="pe-7s-shield"></i>
                                        <h4>Reliable</h4>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <!--Welcome Sabbirdk- Real Estateprofessional Templatesection end-->


    <!--Services section start-->
    <div class="service-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="container">
        
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Our Services</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row row-30 align-items-center">
                
                <div class="col-lg-5 col-12 mb-30">
                    
                    <div class="property-slider-2">
                        {% for listing in service_slider %}
                        <div class="property-2">
                            
                            <div class="property-inner">
                                
                                <a href="{{ listing.get_absolute_url }}" class="image"><img src="{{ listing.photo_main.url }}" alt=""></a>
                                <div class="content">
                                    <h4 class="title"><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a></h4>
                                    <span class="location">{{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</span>
                                    <h4 class="type">{{ listing.rent_agreement }} <span>${{ listing.price }} <span>{{listing.servicetype}}</span></span></h4>
                                    <ul>
                                        <li>{{listing.bedrooms}} Bed</li>
                                        <li>{{listing.bathrooms}} Bath</li>
                                        <li>{{listing.garage}} Garage</li>
                                    </ul>
                                </div>
                                
                            </div>
                            
                        </div>
                        {% endfor %}
                        
                    </div>
                   
                </div>
                
                <div class="col-lg-7 col-12">
                    <div class="row row-20">

                        <!--Service start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="service">
                                <div class="service-inner">
                                    <div class="head">
                                        <div class="icon"><img src="{% static 'images/service/service-1.png' %}" alt=""></div>
                                        <h4>Buy Property</h4>
                                    </div>
                                    <div class="content">
                                        <p>Sabbir - Real Estate commarcial Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Service end-->

                        <!--Service start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="service">
                                <div class="service-inner">
                                    <div class="head">
                                        <div class="icon"><img src="{% static 'images/service/service-2.png' %}" alt=""></div>
                                        <h4>Sale Property</h4>
                                    </div>
                                    <div class="content">
                                        <p>Sabbir - Real Estate commarcial Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Service end-->

                        <!--Service start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="service">
                                <div class="service-inner">
                                    <div class="head">
                                        <div class="icon"><img src="{% static 'images/service/service-3.png' %}" alt=""></div>
                                        <h4>Rent Property</h4>
                                    </div>
                                    <div class="content">
                                        <p>Sabbir - Real Estate commarcial Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Service end-->

                        <!--Service start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="service">
                                <div class="service-inner">
                                    <div class="head">
                                        <div class="icon"><img src="{% static 'images/service/service-4.png' %}" alt=""></div>
                                        <h4>Mortgage Property</h4>
                                    </div>
                                    <div class="content">
                                        <p>Sabbir - Real Estate commarcial Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Service end-->

                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!--Services section end-->

    

     <!--Agent Section start-->
     <div class="agent-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
           
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Our Agents</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row">
                <div class="agent-carousel section">
                {% if realtors %}
                    {% for realtor in realtors %}
                    <!--Agent satrt-->
                    <div class="col">
                        <div class="agent">
                            <div class="image">
                                <a class="img" href="{{ realtor.get_absolute_url }}"><img src="{{ realtor.photo.url }}" alt=""></a>
                                <div class="social">
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="{{ realtor.get_absolute_url }}">{{ realtor.name }}</a></h4>
                                <a href="#" class="phone">{{ realtor.phone }}</a>
                                <a href="#" class="email">{{ realtor.email }}</a>
                                <!-- <span class="properties">5 Properties</span> -->
                            </div>
                        </div>
                    </div>
                    <!--Agent end-->
                    {% endfor %}
                {% endif %} 
                </div>
            </div>
        </div>
    </div>
    <!--Agent Section end-->

    
    <!--Brand section start-->
    <div class="brand-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
           
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Our Partners</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row">
                
                <!--Brand Slider start-->
                <div class="brand-carousel section">
                    <div class="brand col"><img src="assets/images/brands/brand-1.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-2.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-3.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-4.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-5.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-6.png" alt=""></div>
                </div>
                <!--Brand Slider end-->
                
            </div>
            
        </div>
    </div>
    <!--Brand section end-->
    
    {% endblock %}