{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--Page Banner Section start-->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-banner-title">Agent</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Agent 4 Column</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Section end-->

    <!--Agent Section start-->
    <div class="agent-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            
            <div class="row">
            {% if realtors %}
                {% for realtor in realtors %}

                <!--Agent satrt-->
                <div class="col-lg-3 col-sm-6 col-12 mb-30">
                    <div class="agent">
                        <div class="image">
                            <a class="img" href="{{ realtor.get_absolute_url }}"><img src="{{ realtor.photo.url }}" alt=""></a>
                            <div class="social">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="{{ realtor.get_absolute_url }}">{{ realtor.name }}</a></h4>
                            <a href="#" class="phone">{{ realtor.phone }}</a>
                            <a href="#" class="email">{{ realtor.email }}</a>
                            <!-- <span class="properties">5 Properties</span> -->
                        </div>
                    </div>
                </div>
                <!--Agent end-->
                {% endfor %}
            {% endif %}    
            </div>
            
            <div class="row mt-20">
                <div class="col">
                    <ul class="page-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i> Prev</a></li>
                        <li class="active"><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Next</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <!--Agent Section end-->



{% endblock %}


