{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <!--Page Banner Section start-->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-banner-title">Agent Details</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Agent Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Section end-->

    <!--Agent Section start-->
    <div class="agent-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="container">
            
            <div class="row row-25">

                <!--Agent Image-->
                <div class="col-lg-5 col-12 mb-30">
                    <div class="agent-image">
                        <img src="{{ object.photo.url }}" alt="">
                    </div>
                </div>

                <!--Agent Content-->
                <div class="col-lg-7 col-12">
                    <div class="agent-content">
                        <h3 class="title">{{object.name}}</h3>
                        <p>{{object.description}}</p>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-30">
                                <h4>Persoanl Info</h4>
                                <ul>
                                    <li><i class="pe-7s-map"></i>{{object.ownaddress}}</li>
                                    <li><i class="pe-7s-phone"></i><a href="#">{{object.phone}}</a></li>
                                    <li><i class="pe-7s-mail-open"></i><a href="#">{{object.email}}</a></li>
                                    <li><i class="pe-7s-global"></i><a href="#">www.example.com</a></li>
                                    <!-- <li><i class="pe-7s-photo"></i>5 Properties</li> -->
                                </ul>
                                <div class="social">
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 mb-30">
                                <h4>Agency Info</h4>
                                <ul>
                                    <li><span>Agency:</span> <span><a href="#">Royao Estates</a> <a href="#">Duplex Estates</a></span></li>
                                    <li><span>Company:</span> <span>{{object.company}}</span></li>
                                    <li><span>Licenses:</span> <span>{{object.licenses}}</span></li>
                                    <li><span>Number:</span> <span><a href="#">{{object.number}}</a></span></li>
                                    <li><span>Address:</span> <span>{{object.agencyaddress}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <!--Agent Section end-->

    <!--Feature property section start-->
    
   {% endblock %}