{% extends 'base.html' %}

{% block title %} | Account Login {% endblock %}

{% block content %}
<script>
        
  setTimeout(function(){
      $('#message').fadeOut('slow')
  },1000)
      </script>
<div class="page-banner-section section ">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="page-banner-title">Login or Register</h1>
                <ul class="page-breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Dashboard </li>
                    
                </ul>
            </div>
        </div>
    </div>
  </div>

 

  <section id="dashboard" class="py-5">
    
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          {% include '_alerts.html' %}
          <h2>Welcome {{ user.first_name }}</h2>
        </div>
      </div>
    </div>
  </section>

{% endblock %}