{% load static %}

   
    <!--Header section start-->
    <header class="header header-sticky">
        <div class="header-bottom menu-center">
            <div class="container">
                <div class="row justify-content-between">
                    
                    <!--Logo start-->
                    <div class="col mt-10 mb-10">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'images/logo4.jpg' %}" style="height: 65px ;width: 100px;"  alt=""></a>
                        </div>
                    </div>
                    <!--Logo end-->
                    
                    <!--Menu start-->
                    <div class="col d-none d-lg-flex">
                        <nav class="main-menu">
                            <ul>
                                <li 
                                {% if '/' == request.path %}
                                    class="nav-item active mr-3"
                                {% else %}
                                    class="nav-item mr-3"
                                {% endif %}
                  
                                
                                ><a href="{% url 'home' %}">Home</a>
                                </li>
                                <li
                                {% if 'listings' in request.path %}
                                class="nav-item active"
                                {% else %}
                                class="nav-item "
                                {% endif %}
 
                                ><a href="{% url 'listings' %}">Properties</a>
                                </li>
                                <li 
                                {% if 'agents' in request.path %}
                                class="nav-item active"
                                {% else %}
                                class="nav-item "
                                {% endif %}
 
                                
                                ><a href="{% url 'agents' %}">agents</a>
                                </li>
                               
                                <li 
                                {% if 'news' in request.path %}
                                class="nav-item active"
                                {% else %}
                                class="nav-item "
                                {% endif %}
 
                                ><a href="{% url 'news' %}">News</a>
                                </li>
                                <li class="has-dropdown"><a >pages</a>
                                    <ul class="sub-menu">
                                        <li
                                        {% if 'about' in request.path %}
                                        class="nav-item active"
                                        {% else %}
                                        class="nav-item "
                                        {% endif %}
          
                                        ><a href="{% url 'about' %}">About us</a></li>
                                        <li
                                        {% if 'contact' in request.path %}
                                        class="nav-item active"
                                        {% else %}
                                        class="nav-item "
                                        {% endif %}
         
                                        ><a href="{% url 'contact' %}">Contact us</a></li>
                                        
                                        {% if user.is_authenticated %}
                                            <li
                                            {% if 'dashboard' in request.path %}
                                            class="nav-item active mr-3"
                                            {% else %}
                                            class="nav-item mr-3"
                                            {% endif %}
                                            >
                                            <a class="nav-link" href="{% url 'dashboard' %}">
                                            Welcome {{ user.username }} (Dashboard)</a>
                                            </li>
                                            <li class="nav-item mr-3">
                                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                                                <i class="fas fa-sign-out-alt"></i> Logout
                                            </a>
                                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                                {% csrf_token %}
                                                <input type="hidden">
                                            </form>
                                            </li>
                                        {% else %}
                                            <li
                                            {% if 'register' in request.path %}
                                            class="nav-item active mr-3"
                                            {% else %}
                                            class="nav-item mr-3"
                                            {% endif %}
                                            >
                                            <a class="nav-link" href="{% url 'register' %}">
                                                Register</a>
                                            </li>
                                            <li
                                            {% if 'login' in request.path %}
                                            class="nav-item active mr-3"
                                            {% else %}
                                            class="nav-item mr-3"
                                            {% endif %}
                                            >
                                            <a class="nav-link" href="{% url 'login' %}">
                                                <i class="fas fa-sign-in-alt"></i>

                                                Login</a>
                                            </li>
                                        {% endif %}
                                        <!-- <li><a href="{% url 'account' %}">My Account</a></li> -->
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--Menu end-->
                    
                    <!--User start-->
                    <div class="col mr-sm-50 mr-xs-50">
                        <div class="header-user">
                            {% if user.is_authenticated %}  
                            <a href="{% url 'account' %}" class="user-toggle"><i class="pe-7s-user"></i><span>{{ user.first_name }} account</span></a>
                            {% else %}
                            <a href="{% url 'register' %}" class="user-toggle"><i class="pe-7s-user"></i><span>Login or Register</span></a>
                            {% endif %}
                        </div>
                        
                    </div>
                    <!--User end-->
                </div>
                
                <!--Mobile Menu start-->
                <div class="row">
                    <div class="col-12 d-flex d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
                <!--Mobile Menu end-->
                
            </div>
        </div>
    </header>
    