{% load static %}

   
    <!--Header section start-->
    <header class="header header-sticky">
        <div class="header-bottom menu-center">
            <div class="container">
                <div class="row justify-content-between">
                    
                    <!--Logo start-->
                    <div class="col mt-10 mb-10">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'images/logo4.jpg' %}" style="height: 65px ;width: 100px;"  alt=""></a>
                        </div>
                    </div>
                    <!--Logo end-->
                    
                    <!--Menu start-->
                    <div class="col d-none d-lg-flex">
                        <nav class="main-menu">
                            <ul>
                                <li class=""><a href="{% url 'home' %}">Home</a>
                                </li>
                                <li class=""><a href="{% url 'listings' %}">Properties</a>
                                </li>
                                <li class=""><a href="{% url 'agents' %}">agents</a>
                                </li>
                               
                                <li class=""><a href="{% url 'news' %}">News</a>
                                </li>
                                <li class="has-dropdown"><a href="#">pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'about' %}">About us</a></li>
                                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                                        <li><a href="{% url 'log_reg' %}">Login & Register</a></li>
                                        <li><a href="{% url 'account' %}">My Account</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--Menu end-->
                    
                    <!--User start-->
                    <div class="col mr-sm-50 mr-xs-50">
                        <div class="header-user">
                            <a href="{% url 'log_reg' %}" class="user-toggle"><i class="pe-7s-user"></i><span>Login or Register</span></a>
                        </div>
                    </div>
                    <!--User end-->
                </div>
                
                <!--Mobile Menu start-->
                <div class="row">
                    <div class="col-12 d-flex d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
                <!--Mobile Menu end-->
                
            </div>
        </div>
    </header>
    