{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--Header section end-->
    
    <!--Hero Section start-->
    <div class="hero-section section position-relative">
       
        <!--Hero Slider start-->
        <div class="hero-slider section">

            <!--Hero Item start-->
            {% for listing in products_slider %}
            <div class="hero-item" style="background-image: url({{ listing.photo_main.url }})">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            
                            <!--Hero Content start-->
                            <div class="hero-property-content text-center">

                                <h1 class="title"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h1>
                                <span class="location"><img src="{% static 'images/icons/hero-marker.png' %}" alt="">{{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</span>
                                <div class="type-wrap">
                                    <span class="type">{{ listing.rent }}</span>
                                    <span class="price">${{ listing.price }} <span>{{ listing.servicetype }}</span></span>
                                </div>
                                <ul class="property-feature">
                                    <li>
                                        <img src="{% static 'images/icons/hero-area.png' %}" alt=""><span>{{ listing.sqft }}SqFt</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'images/icons/hero-bed.png' %}" alt=""><span>{{ listing.bedrooms }} Bed</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'images/icons/hero-bath.png' %}" alt=""><span>{{ listing.bathrooms }} Bath</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'images/icons/hero-parking.png' %}" alt=""><span>{{ listing.garage }} Garage</span>
                                    </li>
                                </ul>
                                

                            </div>
                        
                            <!--Hero Content end-->

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--Hero Item end-->

            <!--Hero Item start-->
           
            <!--Hero Item end-->

        </div>
        <!--Hero Slider end-->
        
    </div>
    <!--Hero Section end-->

    <!--Search Section section start-->
    <div class="search-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Find Your Home</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row">
                <div class="col">
                    
                    <!--Property Search start-->
                    <div class="property-search">

                        <form action="#">

                            <div>
                                <input type="text" placeholder="Location">
                            </div>

                            <div>
                                <select class="nice-select">
                                    <option>All Cities</option>
                                    <option>Athina</option>
                                    <option>Austin</option>
                                    <option>Baytown</option>
                                    <option>Brampton</option>
                                    <option>Cedar Hill</option>
                                    <option>Chester</option>
                                    <option>Chicago</option>
                                    <option>Coleman</option>
                                    <option>Corpus Christi</option>
                                    <option>Dallas</option>
                                    <option>distrito federal</option>
                                    <option>Fayetteville</option>
                                    <option>Galveston</option>
                                    <option>Jersey City</option>
                                    <option>Los Angeles</option>
                                    <option>Midland</option>
                                    <option>New York</option>
                                    <option>Odessa</option>
                                    <option>Reno</option>
                                    <option>San Angelo</option>
                                    <option>San Antonio</option>
                                </select>
                            </div>

                            <div>
                                <select class="nice-select">
                                    <option>For Rent</option>
                                    <option>For Sale</option>
                                </select>
                            </div>

                            <div>
                                <select class="nice-select">
                                    <option>Type</option>
                                    <option>Apartment</option>
                                    <option>Cafe</option>
                                    <option>House</option>
                                    <option>Restaurant</option>
                                    <option>Store</option>
                                    <option>Villa</option>
                                </select>
                            </div>

                            <div>
                                <select class="nice-select">
                                    <option>Bedrooms</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                            </div>

                            <div>
                                <select class="nice-select">
                                    <option>Bathrooms</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                            </div>

                            <div>
                                <div id="search-price-range"></div>
                            </div>

                            <div>
                                <button>search</button>
                            </div>

                        </form>

                    </div>
                    <!--Property Search end-->
                    
                </div>
            </div>
            
        </div>
    </div>
    <!--Search Section section end-->

    <!--Feature property section start-->
    <div class="property-section section bg-gray pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Feature Property</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row">
               
                <!--Property Slider start-->
                <div class="property-carousel section">

                    <!--Property start-->
                    {% for listing in object_list %}
                    <div class="property-item col">
                        <div class="property-inner">
                            <div class="image">
                                <a href="{% url 'listing' listing.id %}"><img style="height: 240px;width: 420px;"  src="{{ listing.photo_main.url }}" alt=""></a>
                                <ul class="property-feature">
                                    <li>
                                        <span class="area"><img src="{% static 'images/icons/area.png' %}" alt="">{{ listing.sqft }} SqFt</span>
                                    </li>
                                    <li>
                                        <span class="bed"><img src="{% static 'images/icons/bed.png' %}" alt="">{{ listing.bedrooms }}</span>
                                    </li>
                                    <li>
                                        <span class="bath"><img src="{% static 'images/icons/bath.png' %}" alt="">{{ listing.bathrooms }}</span>
                                    </li>
                                    <li>
                                        <span class="parking"><img src="{% static 'images/icons/parking.png' %}" alt="">{{ listing.garage }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <div class="left">
                                    <h3 class="title"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
                                    <span class="location"><img src="{% static 'images/icons/marker.png' %}" alt="">{{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</span>
                                </div>
                                <div class="right">
                                    <div class="type-wrap">
                                        <span class="price">${{ listing.price }}<span>{{ listing.rent }}</span></span>
                                        <span class="type">{{listing.servicetype}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    
                    <!--Property end-->

                </div>
                <!--Property Slider end-->
                
            </div>
            
        </div>
    </div>
    <!--Feature property section end-->

    <!--Welcome Sabbirdk- Real Estateprofessional Templatesection-->
    <div class="feature-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            
            <div class="feature-wrap row row-25">

                <!--Feature start-->
                <div class="col-lg-4 col-sm-6 col-12 mb-50">
                    <div class="feature">
                        <div class="icon"><i class="pe-7s-piggy"></i></div>
                        <div class="content">
                            <h4>Low Cost</h4>
                            <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
                        </div>
                    </div>
                </div>
                <!--Feature end-->

                <!--Feature start-->
                <div class="col-lg-4 col-sm-6 col-12 mb-50">
                    <div class="feature">
                        <div class="icon"><i class="pe-7s-science"></i></div>
                        <div class="content">
                            <h4>Modern Design</h4>
                            <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
                        </div>
                    </div>
                </div>
                <!--Feature end-->

                <!--Feature start-->
                <div class="col-lg-4 col-sm-6 col-12 mb-50">
                    <div class="feature">
                        <div class="icon"><i class="pe-7s-display1"></i></div>
                        <div class="content">
                            <h4>Good Marketing</h4>
                            <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
                        </div>
                    </div>
                </div>
                <!--Feature end-->

                <!--Feature start-->
                <div class="col-lg-4 col-sm-6 col-12 mb-50">
                    <div class="feature">
                        <div class="icon"><i class="pe-7s-signal"></i></div>
                        <div class="content">
                            <h4>Free Wifi</h4>
                            <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
                        </div>
                    </div>
                </div>
                <!--Feature end-->

                <!--Feature start-->
                <div class="col-lg-4 col-sm-6 col-12 mb-50">
                    <div class="feature">
                        <div class="icon"><i class="pe-7s-map"></i></div>
                        <div class="content">
                            <h4>Easy to Find</h4>
                            <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
                        </div>
                    </div>
                </div>
                <!--Feature end-->

                <!--Feature start-->
                <div class="col-lg-4 col-sm-6 col-12 mb-50">
                    <div class="feature">
                        <div class="icon"><i class="pe-7s-shield"></i></div>
                        <div class="content">
                            <h4>Reliable</h4>
                            <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
                        </div>
                    </div>
                </div>
                <!--Feature end-->

            </div>
            
        </div>
    </div>
    <!--Welcome Sabbirdk- Real Estateprofessional Templatesection end-->

    <!--Download apps section start-->
    
    <!--Download apps section end-->

    <!--Services section start-->
    <div class="service-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="container">
        
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Our Services</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row row-30 align-items-center">
                
                <div class="col-lg-5 col-12 mb-30">
                    
                    <div class="property-slider-2">
                        {% for listing in service_slider %}
                        <div class="property-2">
                            
                            <div class="property-inner">
                                
                                <a href="{% url 'listing' listing.id %}" class="image"><img src="{{ listing.photo_main.url }}" alt=""></a>
                                <div class="content">
                                    <h4 class="title"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
                                    <span class="location">{{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</span>
                                    <h4 class="type">{{ listing.rent }} <span>${{ listing.price }} <span>{{listing.servicetype}}</span></span></h4>
                                    <ul>
                                        <li>{{listing.bedrooms}} Bed</li>
                                        <li>{{listing.bathrooms}} Bath</li>
                                        <li>{{listing.garage}} Garage</li>
                                    </ul>
                                </div>
                                
                            </div>
                            
                        </div>
                        {% endfor %}
                        
                    </div>
                   
                </div>
                
                <div class="col-lg-7 col-12">
                    <div class="row row-20">

                        <!--Service start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="service">
                                <div class="service-inner">
                                    <div class="head">
                                        <div class="icon"><img src="{% static 'images/service/service-1.png' %}" alt=""></div>
                                        <h4>Buy Property</h4>
                                    </div>
                                    <div class="content">
                                        <p>Sabbir - Real Estate commarcial Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Service end-->

                        <!--Service start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="service">
                                <div class="service-inner">
                                    <div class="head">
                                        <div class="icon"><img src="{% static 'images/service/service-2.png' %}" alt=""></div>
                                        <h4>Sale Property</h4>
                                    </div>
                                    <div class="content">
                                        <p>Sabbir - Real Estate commarcial Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Service end-->

                        <!--Service start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="service">
                                <div class="service-inner">
                                    <div class="head">
                                        <div class="icon"><img src="{% static 'images/service/service-3.png' %}" alt=""></div>
                                        <h4>Rent Property</h4>
                                    </div>
                                    <div class="content">
                                        <p>Sabbir - Real Estate commarcial Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Service end-->

                        <!--Service start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="service">
                                <div class="service-inner">
                                    <div class="head">
                                        <div class="icon"><img src="{% static 'images/service/service-4.png' %}" alt=""></div>
                                        <h4>Mortgage Property</h4>
                                    </div>
                                    <div class="content">
                                        <p>Sabbir - Real Estate commarcial Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Service end-->

                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!--Services section end-->

    <!--New property section start-->
    <div class="property-section section pb-60 pb-lg-40 pb-md-30 pb-sm-20 pb-xs-10">
        <div class="container">
           
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Newly Added Property</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row">
               
                <!--Property start-->
                {% for listing in latest %}
                <div class="property-item col-lg-4 col-md-6 col-12 mb-40">
                    <div class="property-inner">
                        <div class="image">
                            <a href="{% url 'listing' listing.id %}"><img src="{{ listing.photo_main.url }}" alt=""></a>
                            <ul class="property-feature">
                                <li>
                                    <span class="area"><img src="{% static 'images/icons/area.png' %}" alt="">{{ listing.sqft }} SqFt</span>
                                </li>
                                <li>
                                    <span class="bed"><img src="{% static 'images/icons/bed.png' %}" alt="">{{ listing.bedrooms }}</span>
                                </li>
                                <li>
                                    <span class="bath"><img src="{% static 'images/icons/bath.png' %}" alt="">{{ listing.bathrooms }}</span>
                                </li>
                                <li>
                                    <span class="parking"><img src="{% static 'images/icons/parking.png' %}" alt="">{{ listing.garage }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h3 class="title"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
                                <span class="location"><img src="{% static 'images/icons/marker.png' %}" alt="">{{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</span>
                            </div>
                            <div class="right">
                                <div class="type-wrap">
                                    <span class="price">${{ listing.price }}<span>{{ listing.rent }}</span></span>
                                    <span class="type">{{listing.servicetype}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--Property end-->
                
            </div>
            
        </div>
    </div>
    <!--New property section end-->


    <!--Agent Section start-->
    <div class="agent-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
           
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Our Agents</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row">
                <div class="agent-carousel section">
                {% if realtors %}
                    {% for realtor in realtors %}
                    <!--Agent satrt-->
                    <div class="col">
                        <div class="agent">
                            <div class="image">
                                <a class="img" href="{% url 'agent-details' realtor.id %}"><img src="{{ realtor.photo.url }}" alt=""></a>
                                <div class="social">
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="{% url 'agent-details' realtor.id %}">{{ realtor.name }}</a></h4>
                                <a href="#" class="phone">{{ realtor.phone }}</a>
                                <a href="#" class="email">{{ realtor.email }}</a>
                                <!-- <span class="properties">5 Properties</span> -->
                            </div>
                        </div>
                    </div>
                    <!--Agent end-->
                    {% endfor %}
                {% endif %} 
                </div>
            </div>
        </div>
    </div>
    <!--Agent Section end-->

    <!--News Section start-->
    <div class="news-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
           
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Latest News</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row">
                <div class="news-carousel section">

                    <!--News start-->
                    <div class="col">
                        <div class="news">
                            <div class="image">
                                <a href="news-details.html"><img src="assets/images/news/news-1.jpg" alt=""></a>
                                <div class="meta-wrap">
                                    <ul class="meta">
                                        <li>By <a href="#">Donald</a></li>
                                        <li>September 30, 2020</li>
                                    </ul>
                                    <ul class="meta back">
                                        <li>By <a href="#">Donald</a></li>
                                        <li>September 30, 2020</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="news-details.html">Duplex Villa with Altra Concept</a></h4>
                                <div class="desc">
                                    <p>Sabbirdk- Real Estateprofessional Template the best theme for  elit, sed do to eiumod tempor dolor sit amet.</p>
                                </div>
                                <a href="news-details.html" class="readmore">Continure Reading</a>
                            </div>
                        </div>
                    </div>
                    <!--News end-->

                    <!--News start-->
                    <div class="col">
                        <div class="news">
                            <div class="image">
                                <a href="news-details.html"><img src="assets/images/news/news-2.jpg" alt=""></a>
                                <div class="meta-wrap">
                                    <ul class="meta">
                                        <li>By <a href="#">Donald</a></li>
                                        <li>September 30, 2020</li>
                                    </ul>
                                    <ul class="meta back">
                                        <li>By <a href="#">Donald</a></li>
                                        <li>September 30, 2020</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="news-details.html">Joint Mortgage: Pros vs. Cons</a></h4>
                                <div class="desc">
                                    <p>Sabbirdk- Real Estateprofessional Template the best theme for  elit, sed do to eiumod tempor dolor sit amet.</p>
                                </div>
                                <a href="news-details.html" class="readmore">Continure Reading</a>
                            </div>
                        </div>
                    </div>
                    <!--News end-->

                    <!--News start-->
                    <div class="col">
                        <div class="news">
                            <div class="image">
                                <a href="news-details.html"><img src="assets/images/news/news-3.jpg" alt=""></a>
                                <div class="meta-wrap">
                                    <ul class="meta">
                                        <li>By <a href="#">Sean</a></li>
                                        <li>September 30, 2020</li>
                                    </ul>
                                    <ul class="meta back">
                                        <li>By <a href="#">Sean</a></li>
                                        <li>September 30, 2020</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="news-details.html">Dealing with Student Loan Debt</a></h4>
                                <div class="desc">
                                    <p>Sabbirdk- Real Estateprofessional Template the best theme for  elit, sed do to eiumod tempor dolor sit amet.</p>
                                </div>
                                <a href="news-details.html" class="readmore">Continure Reading</a>
                            </div>
                        </div>
                    </div>
                    <!--News end-->

                    <!--News start-->
                    <div class="col">
                        <div class="news">
                            <div class="image">
                                <a href="news-details.html"><img src="assets/images/news/news-4.jpg" alt=""></a>
                                <div class="meta-wrap">
                                    <ul class="meta">
                                        <li>By <a href="#">Sean</a></li>
                                        <li>September 30, 2020</li>
                                    </ul>
                                    <ul class="meta back">
                                        <li>By <a href="#">Sean</a></li>
                                        <li>September 30, 2020</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="news-details.html">Bridging the home ownership gap</a></h4>
                                <div class="desc">
                                    <p>Sabbirdk- Real Estateprofessional Template the best theme for  elit, sed do to eiumod tempor dolor sit amet.</p>
                                </div>
                                <a href="news-details.html" class="readmore">Continure Reading</a>
                            </div>
                        </div>
                    </div>
                    <!--News end-->

                </div>
            </div>
        </div>
    </div>
    <!--News Section end-->
    
    <!--Brand section start-->
    <div class="brand-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
           
            <!--Section Title start-->
            <div class="row">
                <div class="col-md-12 mb-60 mb-xs-30">
                    <div class="section-title center">
                        <h1>Our Partners</h1>
                    </div>
                </div>
            </div>
            <!--Section Title end-->
            
            <div class="row">
                
                <!--Brand Slider start-->
                <div class="brand-carousel section">
                    <div class="brand col"><img src="assets/images/brands/brand-1.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-2.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-3.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-4.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-5.png" alt=""></div>
                    <div class="brand col"><img src="assets/images/brands/brand-6.png" alt=""></div>
                </div>
                <!--Brand Slider end-->
                
            </div>
            
        </div>
    </div>
    <!--Brand section end-->
    
   
</div>
{% endblock %}
