{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <!--Page Banner Section start-->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-banner-title">My Account</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Section end-->

    <!--Login & Register Section start-->
    <div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="container">
            <div class="row row-25">
               
                <div class="col-lg-4 col-12 mb-sm-50 mb-xs-50">
                    <ul class="myaccount-tab-list nav">
                        <li><a class="active" href="#profile-tab" data-toggle="tab"><i class="pe-7s-user"></i>My Profile</a></li>
                      
                        <li><a href="#password-tab" data-toggle="tab"><i class="pe-7s-lock"></i>Change Password</a></li>
                        <li><a href="login-register.html"><i class="pe-7s-power"></i>Log Out</a></li>
                    </ul>
                </div>
                
                <div class="col-lg-8 col-12">
                    
                    <div class="tab-content">
                        <div id="profile-tab" class="tab-pane show active">
                            <form  action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                               
                                <div class="row">
                                    <div class="col-12 mb-30"><h3 class="mb-0">Personal Profile</h3></div>
                                    <div class="col-md-6 col-12 mb-30"><label for="f_name">First Name</label><input type="text"  value="{{user.first_name}}" name="first_name" id="f_name" value="Donald"></div>
                                    <div class="col-md-6 col-12 mb-30"><label for="l_name">Last Name</label><input type="text"  value="{{user.last_name}}" name="last_name" id="l_name" value="Palmer"></div>
                                  

                                    <div class="col-12">
                                        <div class="row">
                                           
                                            <div class="col-md-6 col-12 mb-30"><label for="personal_email">Email</label><input name="email" type="text"  value="{{user.email}}" id="personal_email" value="info@example.com"></div>
                                          
                                          
                                        </div>
                                      
                                    </div>


                                    <div class="col-12 mb-30"><button class="btn">Save Change</button></div>
                                </div>
                            </form> 
                            
                        </div>
                       
                        <div id="password-tab" class="tab-pane">
                            <form action="#">
                               
                                <div class="row">
                                    <div class="col-12 mb-30"><h3 class="mb-0">Change Password</h3></div>
                                    <div class="col-12 mb-30"><label for="current_password">Current Password</label><input type="password" id="current_password" value="currentpassword"></div>
                                    <div class="col-12 mb-30"><label for="new_password">New Password</label><input type="password" id="new_password"></div>
                                    <div class="col-12 mb-30"><label for="confirm_new_password">Confirm New Password</label><input type="password" id="confirm_new_password"></div>

                                    <div class="col-12 mb-30"><button class="btn">Save Change</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--Login & Register Section end-->
    
   {% endblock %}