{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    
    <!--Page Banner Section start-->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-banner-title">My Account</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Section end-->

    <!--Login & Register Section start-->
    <div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="container">
            <div class="row row-25">
               
                {% include 'account_partial.html' %}
                
                <div class="col-lg-8 col-12">
                    
                    <div class="tab-content">
                        <div id="profile-tab" class="tab-pane show active">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                  <legend class="border-bottom mb-4">Profile Info</legend>
                                  {{ u_form|crispy }} {{ p_form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                  <button class="btn btn-outline-info" type="submit">Update</button>
                                </div>
                              </form>
                        </div>
                       
                        <div id="password-tab" class="tab-pane">
                            <!-- <form action="#">
                               
                                <div class="row">
                                    <div class="col-12 mb-30"><h3 class="mb-0">Change Password</h3></div>
                                    <div class="col-12 mb-30"><label for="current_password">Current Password</label><input type="password" id="current_password" value="currentpassword"></div>
                                    <div class="col-12 mb-30"><label for="new_password">New Password</label><input type="password" id="new_password"></div>
                                    <div class="col-12 mb-30"><label for="confirm_new_password">Confirm New Password</label><input type="password" id="confirm_new_password"></div>

                                    <div class="col-12 mb-30"><button class="btn">Save Change</button></div>
                                </div>
                            </form> -->
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--Login & Register Section end-->
    
   {% endblock %}