{% extends 'base.html' %}
{% load static %}
{% block title %} | News Details  {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<style>
    .post-body img {
      width: 100%;
    }
    /* comments */
  .comment {
      padding:10px;
  }
  .comment:nth-child(even) {
      background:#efefef;
  }
  .comment .info {
      font-weight:bold;
      font-size:12px;
      color:#666;
  }  
    
  </style>
    
    <!--Page Banner Section start-->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-banner-title">News Details</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">News Details Left Sidebar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Section end-->

    <!--News Section start-->
    <div class="news-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">
               
                <div class="col-xl-9 col-lg-8 col-12 order-1 order-lg-2 mb-sm-50 mb-xs-50">
                    
                    <div class="single-news-item">
                        <div class="image"><img src="{{ obj.photo_main.url }}" alt=""></div>
                        <div class="content">
                            <h2 class="title">{{ obj.title }}</h2>
                            <ul class="news-meta">
                                <li>By - <a href="#"> {{ obj.author }}</a></li>
                                <li>{{ obj.timestamp|date:"F d, Y" }}</li>
                            </ul>
                            <div class="desc">
                                <p>{{obj.overview|safe}} </p>
                                
                            </div>
                        </div>
                    </div>
                  
                    
                    <div class="news-navigation mb-50">
                       
                        {% if obj.previous_post %}
                        <a
                          href="{{ obj.previous_post.get_absolute_url }}"
                          class=" prev-blog prev-post text-left d-flex align-items-center"
                        >
                          <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                          <div class="text">
                            <strong class="text-primary">Previous Post </strong>
                            <h6>{{ obj.previous_post.title }}</h6>
                          </div>
                        </a>
                        {% endif %} 
                        {% if obj.next_post %}
                        <a
                          href="{{ obj.next_post.get_absolute_url }}"
                          class="next-post next-blog text-right d-flex align-items-center justify-content-end"
                        >
                          <div class="text">
                            <strong class="text-primary">Next Post </strong>
                            <h6>{{ obj.next_post.title }}</h6>
                          </div>
                          <div class="icon next"><i class="fa fa-angle-right"> </i></div>
                        </a>
                        {% endif %}
                    </div>
                        
                    <!--Comment start-->
                    <div class="comment-wrap section">
                        {% with comments.count as total_comments %}
                        <h2>
                          {{ total_comments }} comment{{ total_comments|pluralize }}
                        </h2>
                        {% endwith %}
                        {% for comment in comments %}
                        <div class="comment">
                          <p class="info">
                            Comment {{ forloop.counter }} by {{ comment.name }}
                            {{ comment.created }}
                          </p>
                        {{ comment.body|linebreaks }}
                        </div>
                        {% empty %}
                        <p>There are no comments yet.</p>
                        {% endfor %}
                    
                        {% if new_comment %}
                        <h2>Your comment has been added.</h2>
                        {% else %}
                        <h2>Add a new comment</h2>
                        <form  method="post">
                            {{ comment_form | crispy }}
                          {% csrf_token %}
                          <p><input class="btn btn-outline-secondary my-5" type="submit" value="Submit"></p>
                        </form>
                        {% endif %}

                    </div>
                    <!--Comment end-->
                    
                </div>
                
                <div class="col-xl-3 col-lg-4 col-12 order-2 order-lg-1 pr-30 pr-sm-15 pr-xs-15">
                    
                   
                    
                    <!--Sidebar start-->
                    <div class="sidebar">
                        <h4 class="sidebar-title"><span class="text">Recent News</span><span class="shape"></span></h4>
                        
                        <!--Sidebar Property start-->
                        <div class="sidebar-news-list">
                            {% for obj in news_object_list %}
                            <div class="sidebar-news">
                                <div class="image">
                                    <a href="{{ obj.get_absolute_url }}"><img src="{{ obj.photo_main.url }}" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h5>
                                    <span class="date">{{ obj.timestamp|date:"F d, Y" }}</span>
                                </div>
                            </div>
                            {% endfor %}
                           
                            
                        </div>
                        <!--Sidebar Property end-->
                        
                    </div>
                    
                    <!--Sidebar start-->
                   
                    <!--Sidebar end-->
                    <!--Sidebar start-->
                    <!-- <div class="sidebar">
                        <h4 class="sidebar-title"><span class="text">Popular Tags</span><span class="shape"></span></h4>
                         -->
                        <!--Sidebar Tags start-->
                       
                        <!--Sidebar Tags end-->
                    
                  
                </div>
                
            </div>
        </div>
    </div>

    {% endblock %}