{% extends 'base.html' %}

{% block title %} | Register Account {% endblock %}

{% block content %}
<div class="page-banner-section section">
  <div class="container">
      <div class="row">
          <div class="col">
              <h1 class="page-banner-title">Login or Register</h1>
              <ul class="page-breadcrumb">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li class="active">Register </li>
              </ul>
          </div>
      </div>
  </div>
</div>

  <div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 ml-auto mr-auto">
                
              {% include 'reg_partial.html' %}
                
                <div class="tab-content">
                    <div >
                        <form action="{% url 'register' %}" method="POST">
                          {% csrf_token %}
                            <div class="row">
                                <div class="col-12 mb-30"><input type="text" name="first_name" placeholder="First Name" required></div>
                                <div class="col-12 mb-30"><input type="text"  name="last_name" placeholder="Last Name" required></div>
                                <div class="col-12 mb-30"><input type="email"  name="email" placeholder="Email" required></div>
                                <div class="col-12 mb-30"><input type="text"  name="username" placeholder="User Name" required></div>
                                <div class="col-12 mb-30"><input type="password"  name="password" placeholder="Password" required></div>
                                <div class="col-12 mb-30"><input type="password" name="password2" placeholder="Confirm Password" required></div>
                                
                                <div class="col-12"><button type="submit" class="btn">Register</button></div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>  
  {% endblock %}