{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<style>
    .post-body img {
      width: 100%;
    }
    /* comments */
  .comment {
      padding:10px;
  }
  .comment:nth-child(even) {
      background:#efefef;
  }
  .comment .info {
      font-weight:bold;
      font-size:12px;
      color:#666;
  }  
    
  </style>
    
    <!--Page Banner Section start-->
    <div class="page-banner-section section" style="background-image: url({{ listing.photo_main.url }})">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-banner-title">Properties</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Friuli-Venezia Giulia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Section end-->

    <!--New property section start-->
    
    <div class="property-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-8 col-12 order-1 order-lg-2 mb-sm-50 mb-xs-50">
                    <div class="row">

                        <!--Property start-->
                        <div class="single-property col-12 mb-50">
                            <div class="property-inner">
                               
                                <div class="head">
                                    <div class="left">
                                        <h1 class="title">{{listing.title}}</h1>
                                        <span class="location"><img src="assets/images/icons/marker.png" alt="">568 E 1st Ave, Miami</span>
                                    </div>
                                    <div class="right">
                                        <div class="type-wrap">
                                            <span class="price">${{ listing.price }}<span>{{ listing.rent_agreement }}</span></span>
                                            <span class="type">{{listing.servicetype}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="image mb-30">
                                    <img src="{{ listing.photo_main.url }}" alt="">
                                </div>
                                
                                <div class="content">
                                    
                                    <h3>Description</h3>
                                    
                                    <p> {{listing.description|safe}}</p>
                                    
                                    <div class="row mt-30 mb-30">
                                        
                                        <div class="col-md-5 col-12 mb-xs-30">
                                            <h3>Condition</h3>
                                            <ul class="feature-list">
                                                <li><div class="image"><img src="{% static 'images/icons/area.png' %}" alt=""></div>Area {{listing.sqft}}</li>
                                                <li><div class="image"><img src="{% static 'images/icons/bed.png' %}" alt=""></div>Bedroom {{listing.bedrooms}}</li>
                                                <li><div class="image"><img src="{% static 'images/icons/bath.png' %}" alt=""></div>Bathroom {{listing.bathrooms}}</li>
                                                <li><div class="image"><img src="{% static 'images/icons/parking.png' %}" alt=""></div>Garage {{listing.garage}}</li>
                                                <li><div class="image"><img src="{% static 'images/icons/kitchen.png' %}" alt=""></div>Kitchen {{listing.kitchen}}</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="col-md-7 col-12">
                                            <h3>Amenities</h3>
                                            <ul class="amenities-list">
                                                <li>Air Conditioning</li>
                                                <li>Bedding</li>
                                                <li>Balcony</li>
                                                <li>Cable TV</li>
                                                <li>Internet</li>
                                                <li>Parking</li>
                                                <li>Lift</li>
                                                <li>Pool</li>
                                                <li>Dishwasher</li>
                                                <li>Toaster</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12 mb-30">
                                            <h3>Video</h3>
                                            <video class=" embed-responsive embed-responsive-16by9" controls='controls' >
                                                <source class="embed-responsive-item" src="{{ listing.video.url }}"type='video/mp4' >
                                            </video>
                                        </div>
                                        <!-- <div class="col-12">
                                            <h3>Location</h3>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <div id="single-property-map" class="embed-responsive-item google-map" data-lat="40.740178" data-Long="-74.190194"></div>
                                            </div>
                                        </div> -->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--Property end-->
                        
                        <!--Comment start-->
                        <div class="comment-wrap section">
                            {% with comments.count as total_comments %}
                            <h2>
                              {{ total_comments }} comment{{ total_comments|pluralize }}
                            </h2>
                            {% endwith %}
                            {% for comment in comments %}
                            <div class="comment">
                              <p class="info">
                                Comment {{ forloop.counter }} by {{ comment.name }}
                                {{ comment.created }}
                              </p>
                            {{ comment.body|linebreaks }}
                            </div>
                            {% empty %}
                            <p>There are no comments yet.</p>
                            {% endfor %}
                        
                            {% if new_comment %}
                            <h2>Your comment has been added.</h2>
                            {% else %}
                            <h2>Add a new comment</h2>
                            <form  method="post">
                                {{ comment_form | crispy }}
                              {% csrf_token %}
                              <p><input class="btn btn-outline-secondary my-5" type="submit" value="Submit"></p>
                            </form>
                            {% endif %}
    
                        </div>
                        <!--Comment end-->

                    </div>
                </div>
                
                <div class="col-lg-4 col-12 order-2 order-lg-1 pr-30 pr-sm-15 pr-xs-15">
                    
                    <!--Sidebar start-->
                    <div class="sidebar">
                        <h4 class="sidebar-title"><span class="text">Search Property</span><span class="shape"></span></h4>
                        
                    
                        <!--Property Search start-->
                        <div class="property-search sidebar-property-search">

                            <form action="#">

                                <div>
                                    <input type="text" placeholder="Location">
                                </div>

                                <div>
                                    <select class="nice-select">
                                        <option>All Cities</option>
                                        <option>Athina</option>
                                        <option>Austin</option>
                                        <option>Baytown</option>
                                        <option>Brampton</option>
                                        <option>Cedar Hill</option>
                                        <option>Chester</option>
                                        <option>Chicago</option>
                                        <option>Coleman</option>
                                        <option>Corpus Christi</option>
                                        <option>Dallas</option>
                                        <option>distrito federal</option>
                                        <option>Fayetteville</option>
                                        <option>Galveston</option>
                                        <option>Jersey City</option>
                                        <option>Los Angeles</option>
                                        <option>Midland</option>
                                        <option>New York</option>
                                        <option>Odessa</option>
                                        <option>Reno</option>
                                        <option>San Angelo</option>
                                        <option>San Antonio</option>
                                    </select>
                                </div>

                                <div>
                                    <select class="nice-select">
                                        <option>For Rent</option>
                                        <option>For Sale</option>
                                    </select>
                                </div>

                                <div>
                                    <select class="nice-select">
                                        <option>Type</option>
                                        <option>Apartment</option>
                                        <option>Cafe</option>
                                        <option>House</option>
                                        <option>Restaurant</option>
                                        <option>Store</option>
                                        <option>Villa</option>
                                    </select>
                                </div>

                                <div>
                                    <select class="nice-select">
                                        <option>Bedrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>

                                <div>
                                    <select class="nice-select">
                                        <option>Bathrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>

                                <div>
                                    <div id="search-price-range"></div>
                                </div>

                                <div>
                                    <button>search</button>
                                </div>

                            </form>

                        </div>
                        <!--Property Search end-->
                        
                    </div>
                    <!--Sidebar end-->
                    
                    <!--Sidebar start-->
                    <div class="sidebar">
                        <h4 class="sidebar-title"><span class="text">Feature Property</span><span class="shape"></span></h4>
                        
                        <!--Sidebar Property start-->
                        {% for listing in object_list %}
                        <div class="sidebar-property-list">
                            
                            <div class="sidebar-property">
                                <div class="image">
                                    <span class="type">{{listing.servicetype}}</span>
                                    <a href="{{ listing.get_absolute_url }}"><img src="{{ listing.photo_main.url }}" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a></h5>
                                    <span class="location"><img src="assets/images/icons/marker.png" alt="">{{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</span>
                                    <span class="price">${{ listing.price }} <span>{{ listing.rent_agreement }}</span></span>
                                </div>
                            </div>
                            
                         
                            
                        </div>
                        {% endfor %}
                        <!--Sidebar Property end-->
                        
                    </div>
                      <!--Sidebar start-->
                      <div class="sidebar">
                        <h4 class="sidebar-title"><span class="text">Top Agents</span><span class="shape"></span></h4>
                        
                        <!--Sidebar Agents start-->
                        <div class="sidebar-agent-list">
                            {% for realtor in realtors %}
                            <div class="sidebar-agent">
                                <div class="image">
                                    <a href="{{ realtor.get_absolute_url }}"><img src="{{ realtor.photo.url }}" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="single-properties.html">{{ realtor.name }}</a></h5>
                                    <a href="#" class="phone">{{ realtor.phone }}</a>
                                    <!-- <span class="properties">5 Properties</span> -->
                                    <div class="social">
                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            
                            
                        </div>
                        <!--Sidebar Agents end-->
                        
                    </div>
                    
                  
            
                </div>
                
            </div>
        </div>
    </div>
    
    <!--New property section end-->
    
{% endblock %}